* {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select:none; -webkit-touch-callout:none;}
html {touch-action:manipulation; pointer-events:none;}
html, body {overflow:hidden; width:100%; height:100%; margin:0; padding:0; font-size:100%; font-family:-apple-system,Roboto,'Droid Sans',sans-serif;}
body {background-color:black;}
/* Layout */
/* entire container, keeps perspective */
.container {perspective:1280px; width:98%; height:96%; position:absolute; top:2%; left:1%;}
/* flip the pane when hovered */
.container.hover .wrapper {transform:rotateX(180deg);}
.board-pane, .settings-pane {width:100%; height:100%;}
/* flip speed goes here */
.wrapper {transition-duration:0.8s; transform-style:preserve-3d; position:absolute; width:100%; height:100%; transform-origin:100% 50%; /* half of height */}
/* hide back of pane during swap */
.board-pane, .settings-pane {backface-visibility:hidden; -webkit-backface-visibility:hidden; position:absolute; top:0; left:0;}
/* front pane, placed above back */
.board-pane {z-index:2; display:flex; background-color:black;}
/* back, initially hidden pane */
.settings-pane {z-index:1; transform:rotateX(-180deg); background-color:#212121; color:#DEDEDE; border-radius:10px;}

/* Board-Pane */
.score-board {width:40%; position:relative; font-size:28vw; line-height:90vh;}
.match-board {width:20%; position:relative;;}
#match-info {width:88%; height:45%; position:absolute; top:0; left:6%; background-color:#212121; color:#DEDEDE; text-align:center; border-radius:10px; font-size:10vw;	line-height:41vh;}
.money {color:transparent; text-shadow:0 0 0 #DEDEDE; font-size:8vw;}
#crowford-info {width:100%; position:absolute; top:50%; color:gray; font-size:2vw; text-align:center; overflow:hidden;}
#crowford-info.disabled {visibility:hidden;}
#settings {width:92%; position:absolute; left:4%; bottom:0; color:gray; font-size:2.5vw; padding:5vh 0; text-align:center; overflow:hidden; pointer-events:auto;}

/* entire container, keeps perspective */
.flip-container {perspective:1280px; width:100%; height:100%; position:absolute; top:0; left:0; pointer-events:auto;}
/* flip the pane when hovered .flip-container:hover .flipper,*/
.flip-container.hover .flipper {transform:rotateX(-180deg);}
.front, .back {width:100%; height:100%;}
/* flip speed goes here */
.flipper {transition-duration:0.5s; transform-style:preserve-3d; transform-origin:0 50%; /*half of height */ transition-timing-function:ease-in-out; position:absolute; width:100%; height:100%; z-index:1;}
.board {position:absolute; top:50%; height:50%; width:100%; text-align:center; overflow:hidden; background-color:#212121; color:#DEDEDE; z-index:0; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
/* hide back of pane during swap */
.front, .back {backface-visibility:hidden; -webkit-backface-visibility:hidden; position:absolute; top:0; left:0; text-align:center; overflow:hidden; height:50%; background-color:#212121; color:#DEDEDE;}
/* front pane, placed above back */
.front {z-index:2; transform:rotateY(0deg); border-top-left-radius:10px; border-top-right-radius:10px;}
/* back, initially hidden pane */
.back {z-index:1; transform: rotateX(180deg); border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
.back > span, .board > span {position:absolute; left:0; right: 0; top:-100%;}

/* Settings Pane */
.settings-pane > #settings-wrapper {display:flex; height:100%; overflow:hidden;}
#settings-section {width:47%;}
#scoresheet-section {width:53%; height:100%; display:flex; flex-direction:column;}
.settings-pane > #settings-wrapper > div > h1 {font-size:2.5vw; color:gray; margin:2vh 2vw 1vh; font-weight:normal;}

select {background-color:transparent; color:#DEDEDE; border:none; padding:0; margin:0; -webkit-appearance:none; appearance:none; font-size:3vw; pointer-events:auto;}
select option {text-transform:capitalize;}
select:focus {outline:0;}

#settings-section > ul {list-style:none; margin:0 0 0 3vw; padding:0; overflow:hidden;}
#settings-section > ul > li {font-size:3vw; margin-bottom:1.0vh; pointer-events:auto; line-height:1;}
#settings-section > ul > li > label {margin-right:1vw; opacity:.75;}
#settings-section > ul > li > label:after {content:':';}
#settings-section > ul > li#reset {float:left; margin-right:2vw;}
#settings-section > ul > li#undo {display:inline-block;}
#settings-section > ul > li#undo span {background:#DEDEDE; color:#212121; border-radius:3vw; padding:0 2vw;}
#settings-section > ul > li.disabled {opacity:.3;}
#settings-section > ul > li#share {margin-top:5vh; visibility:hidden;}

.social{margin:3vh 0 0 3vw; pointer-events:auto;}
.social iframe{vertical-align:middle;}
.social span{margin:0 3vw 0 0;}

#scoresheet-section > ol {list-style:none; height:100%; width:90%; display:flex; flex-direction:column; flex-wrap:wrap; overflow-x:scroll; -webkit-overflow-scrolling:touch; margin:1vh 0 10vh 3vw; padding:0; pointer-events:auto; touch-action:pan-x; counter-reset:item;}
#scoresheet-section > ol > li {font-size:3vw; margin:0 1vw 2vh 0; pointer-events:auto; line-height:1; }
#scoresheet-section > ol > li:before {content:counter(item) ".";counter-increment: item; color:gray; margin-right:0.5vw; min-width:2em; display: inline-block; text-align:right;}

#notes {display:none;}

#advertising {width:100%; height:50px; position:absolute; left:0; bottom:12.5vh; text-align:right; pointer-events:auto; display:none;}

#done-btn {width:20%;position:absolute; left:40%; bottom:0; color:gray; font-size:2.5vw; padding:5vh 0; text-align:center; overflow:hidden; pointer-events:auto;}

@media (orientation: portrait) {
  .container {width:96%; height:98%; top:1%; left:2%;}
  .settings-pane > #settings-wrapper {flex-direction:column;}
  #settings-section {width:100%;}
  #scoresheet-section {width:100%;}
  .settings-pane > #settings-wrapper > div > h1 {font-size:3vh; margin:1vh 2vw 0;}
  select {font-size:3.75vh;}
  #settings-section > ul {margin:0 0 0 5vw;}
  #settings-section > ul > li {font-size:3.75vh; margin-bottom:0.75vh;}
  
  .social{margin:2vh 0 0 5vw; pointer-events:auto;}

  #scoresheet-section > ol {height:100%; width:90%; margin:0 0 7vh 5vw; flex:1;}
  #scoresheet-section > ol > li {font-size:4vh; margin-bottom:0;}
  #scoresheet-section > ol > li:before {margin-right:0vw;}
  
  #notes {display:block; width:100%; position:absolute; left:0; bottom:2vh; text-align:center; font-size:3vw; color:gray;}
  
  #advertising {width:100%; bottom:1vh; text-align:center;}
  
  #done-btn {display:none;}
}