input, select {color:#DEDEDE;}
.settings-pane {background-color:#212121; color:#DEDEDE;}
#settings-section > ul > li#undo span {background:#DEDEDE; color:#212121;}
.time-board {color:#DEDEDE;}
.board-pane {background-color:#212121;}
#delay-time {color:#DEDEDE;}
@keyframes glow {
  to { text-shadow:#DEDEDE 1px 1px 10px, #DEDEDE -1px 1px 10px, #DEDEDE 1px -1px 10px, #DEDEDE -1px -1px 10px;}
}
